
*.bin

.vs/TasksTracker.Ui/DesignTimeBuild/

.vs/TasksTracker.Ui/v17/

TaskTracker.UI/TaskTracker.UI/bin/Debug/net8.0/

TaskTracker.UI/TaskTracker.UI/obj/Container/

TaskTracker.UI/TaskTracker.UI/obj/Debug/net8.0/

*.vsidx

TaskTracker.UI/.vs/TaskTracker.UI/v17/

*.user

*.csproj

TaskTracker.UI/TaskTracker.UI/obj/
